---
import Section from '@/components/SectionItem.astro'
---

<section
  class='flex items-center justify-center max-w-full h-[50vh] sm:h-screen bg-cover bg-center'
  style="background-image: url('/nace_luis_prieto.webp');"
  id='intro-title'
>
  <div class='bg-black bg-opacity-10  md:w-full md:h-full absolute'></div>
</section>

<Section hasBottomMargin>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        Luis Beltrán Prieto Figueroa
      </h3>

      <p>
        El 22 de agosto de 1959 es una fecha singular en la vida del pueblo
        venezolanos cuando el Ejecutivo Nacional creó el Instituto Nacional de
        Cooperación Educativa , INCES, por iniciativa del “Maestro de América”
        Luis Beltrán Prieto Figueroa, genio y figura de su creación.
      </p>

      <p>
        En el año 2003 Luis Beltrán Prieto Figueroa reforma el reglamento de
        la Ley del INCE, con la finalidad de reorganizarlo y adecuarlo a los
        intereses del país y al proceso de reconversión industrial, proceso que
        enmarca posteriormente su concepción y visión dentro del ámbito
      </p>
    </div>
  </div>
</Section>
