---
import Section from '@/components/SectionItem.astro'
---

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        Restaurante
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Servicio al cliente: El curso enseña cómo interactuar con los
          clientes, comprender sus necesidades y ofrecer un servicio de calidad
          y personalizado.
        </li>
        <li>
          Comportamiento y apariencia: Se aborda la importancia de mantener una
          imagen personal y profesional, así como un comportamiento apropiado y
          respetuoso en presencia de los clientes.
        </li>
        <li>
          Tipos de restaurantes: Se pueden aprender sobre los diferentes tipos
          de restaurantes, desde establecimientos de comida rápida hasta
          restaurantes de alta calidad y fine dining.
        </li>
        <li>
          Menús y bebidas: En este curso, se aprende sobre la presentación y
          descripción de los menús, así como a emparejar diferentes tipos de
          bebidas con los platos.
        </li>
        <li>
          Conocimiento de alimentos: Se enseña sobre los ingredientes de los
          platos, la preparación de los alimentos y cómo manejar los alimentos
          de manera segura.
        </li>
        <li>
          Habilidades de servicio de mesa: La capacitación incluye aprender
          sobre la disposición de la mesa, el servicio de alimentos y bebidas,
          las técnicas de carrerear, y el retiro de platos.
        </li>
        <li>
          Etiqueta de comidas: Aprenderás sobre las prácticas comunes de
          etiqueta en la mesa, como el uso de cubiertos, la colocacion de la
          servilleta y la forma en que se debe comportar un comensal en la mesa.
        </li>
      </ul>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        Meteorología
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Conceptos bácicos de metrología: Cómo la definición de metrología, los
          diferentes tipos de medidas, las unidades de medida, los errores de
          medición y la terminología común utilizada en este campo.
        </li>
        <li>
          Instrumentos de medición: Aprenderá a describir y a utilizar
          diferentes instrumentos de medición como micrómetros, calibradores,
          sondas de contacto, comparadores, indicadores y otros dispositivos.
        </li>
        <li>
          Calibración de instrumentos de medición: En este tema, aprenderá cómo
          se hace la calibración de los instrumentos de medición, cuáles son los
          diferentes métodos y técnicas utilizados y por qué es importante
          calibrar los instrumentos.
        </li>
        <li>
          Incertidumbre de medición: Se aprenderá a calcular y a manejar la
          incertidumbre en la medición, incluyendo la incertidumbre y la
          expresión de los resultados de medición con incertidumbre.
        </li>
        <li>
          Trazabilidad de los resultados de medición: Se aprenderá la
          importancia de un sistema de trazabilidad de los resultados de
          medición y cómo establecer una cadena de trazabilidad.
        </li>
        <li>
          Sistemas de Gestión: Se darán a conocer los sistemas de gestión de
          calidad, y la aplicación de los mismos a la metrología, para
          garantizar la calidad y precisión de los resultados de medición.
        </li>
        <li>
          Pruebas prácticas: La mayoría de los cursos incluyen prácticas en el
          uso de diferentes herramientas de medición, como calibradores,
          micrómetros y otros dispositivos de medición.
        </li>
      </ul>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        Reparación de máquinas de coser
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Conocimiento de las partes de la máquina: Se aprenden los nombres y
          funciones de todas las partes esenciales de la máquina de coser,
          incluyendo la bobina, la placa de aguja, el prensatelas, la aguja y
          los diferenciales.
        </li>
        <li>
          Problemas habituales: Se identifican los problemas más comunes en las
          máquinas de coser, incluyendo la rotura de la aguja, las tensiones
          inadecuadas y las dificultades con la alimentación de la tela.
        </li>
        <li>
          Mantenimiento de la máquina: Se aprende cómo mantener la máquina de
          coser en buen estado, incluyendo la limpieza, lubricación y ajuste
          regular de los componentes.
        </li>
        <li>
          Ajuste y calibración de la máquina: Se enseña cómo realizar ajustes y
          calibraciones básicos en la máquina de coser, como la alineación de la
          aguja y la regulación de la tensión del hilo.
        </li>
        <li>
          Solución de problemas: En este tema, se aprenden técnicas para
          identificar la causa de los problemas mecánicos y eléctricos en las
          máquinas de coser, y cómo solucionar estos problemas para que la
          máquina funcione correctamente.
        </li>
        <li>
          Reparaciones mecánicas: El curso cubre la reparación de piezas dañadas
          de la máquina de coser, como la aguja, el motor, los rodamientos y
          otros componentes que pueden necesitar ser reparados o sustituidos.
        </li>
        <li>
          Uso de herramientas de reparación: Se proporciona la formación en el
          uso de herramientas de reparación esenciales, como destornilladores,
          alicates, llaves y otras herramientas mecánicas.
        </li>
      </ul>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
Comedor
      </h3>

      <ul class='list-disc mt-4'>
        <li>
Atención al cliente: Se aprende a interactuar con los clientes, a entender sus necesidades y a ofrecer un servicio de calidad y personalizado.
        </li>
        <li>
          Habilidades para el servicio de mesa: Se enseña cómo configurar la mesa adecuadamente, cómo servir la comida y las bebidas, y cómo retirar los platos.
        </li>
        <li>
          Menús y bebidas: En este tema se aborda la presentación y descripción de los menús, así como a emparejar diferentes tipos de bebidas con los platos.
        </li>
        <li>
Conocimiento de alimentos: Se dan a conocer los ingredientes de los platos, la preparación de los alimentos y cómo manejar los alimentos de manera segura.
        </li>
        <li>
          Manejo y uso de utensilios y herramientas adecuados: El curso ofrece detalles específicos sobre cómo manejar y usar utensilios y herramientas que se utilizan en la preparación, el almacenamiento y la presentación de alimentos.
        </li>
        <li>
Ventas y marketing: Los estudiantes aprenden cómo hacer las ventas adecuadas, de manera que pueda fomentar la satisfacción del cliente y aumentar las ventas.
        </li>
      </ul>
    </div>
  </div>
</Section>


<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
Actividades recreativas adaptadas
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Introducción al concepto de discapacidad: familiarización con los diferentes tipos de discapacidad y los desafíos que enfrentan las personas con discapacidad en la vida cotidiana.
        </li>
        <li>
          Adaptación de actividades: las estrategias de adaptación que incluyen la modificación o reemplazo de equipos, cambios en la estructura y el tamaño de los grupos de trabajo.
        </li>
        <li>
          Comunicación e instrucción: los asistentes de actividades deben tener habilidades de comunicación efectivas para trabajar con personas con discapacidad y proporcionar instrucciones claras y concisas.
        </li>
        <li>
          Desarrollo de una actividad: los estudiantes aprenderán a desarrollar una actividad nueva o a partir de una existente para su inclusión en un programa de actividades recreativas adaptadas mediante la consideración de todos los aspectos de la discapacidad de un participante.
        </li>
        <li>
          Normas y regulaciones: comprensión de las leyes y regulaciones aplicables, desde la protección a la privacidad hasta las regulaciones de salud y seguridad.
        </li>
        <li>
          La importancia de la inclusión social: cómo adaptar programas de actividades para que sean más inclusivos, así como para fomentar la comprensión de la comunidad sobre la discapacidad.
        </li>
      </ul>
    </div>
  </div>
</Section>


<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
Confección de ropa infantil
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Conocimiento de los diferentes tipos de tela y su uso: aprendiendo a elegir los materiales adecuados para cada tipo de ropa infantil.
        </li>
        <li>
          Patrones y corte de tela: aprendiendo a cortar la tela de manera precisa según los patrones, y sobre cómo hacer ajustes en los patrones para adaptarlos a diferentes tamaños infantiles.
        </li>
        <li>
          Costura y ensamblado de las prendas: aprendiendo a coser y unir diferentes piezas de tela de manera efectiva y con atención al detalle.
        </li>
        <li>
          Terminaciones y acabados: aprendiendo a crear terminaciones suaves, dobladillos y otros detalles que hagan que la prenda se vea atractiva y bien hecha.
        </li>
        <li>
          Diseño personalizado de patrones: aprendiendo a crear patrones personalizados según las necesidades del diseño.
        </li>
        <li>
          Uso de máquinas de coser y herramientas: aprendiendo a utilizar de manera efectiva las herramientas y las máquinas de coser.
        </li>
        <li>
          Técnicas avanzadas de costura: aprendiendo técnicas como cosido en botones y cierre de cremalleras.
        </li>
      </ul>
    </div>
  </div>
</Section>


<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
Cálculo Mercantil
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Conceptos básicos de contabilidad: aprender sobre los conceptos de ingresos, egresos, activos, pasivos y patrimonio, y cómo hacer un balance de situación.
        </li>
        <li>
          Cálculo de intereses: aprender sobre los diferentes tipos de interés y cómo calcularlos, incluyendo el interés simple y el interés compuesto.
        </li>
        <li>
          Cálculo de descuentos: cómo calcular los descuentos comerciales y financieros.
        </li>
        <li>
          Impuestos: aprender sobre los diferentes impuestos y cómo calcularlos, incluyendo el impuesto sobre las ventas y el impuesto sobre la renta.
        </li>
        <li>
          Análisis de estados financieros: cómo analizar los estados financieros y realizar proyecciones financieras.
        </li>
        <li>
          Contabilidad de costos: cómo calcular el costo de producción de los productos y servicios.
        </li>
        <li>
          Matemáticas financieras: aprender sobre el valor presente neto, el rendimiento porcentual anual, el valor futuro y otros conceptos matemáticos importantes en finanzas y negocios.
        </li>
      </ul>
    </div>
  </div>
</Section>


<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
Planificación de actividades recreativas
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Los diferentes tipos de actividad: conocer los diversos tipos de actividades que existen, cómo se clasifican y cómo se diseñan.
        </li>
        <li>
          Evaluación de necesidades y recursos: aprender a evaluar las necesidades y recursos de la comunidad o grupo de participantes, y cómo usar esta información para diseñar programas de actividades.
        </li>
        <li>
          Planificación de actividades: aprender sobre las fases de la planificación de actividades recreativas, incluyendo la identificación de objetivos, la selección de actividades, la elección de lugares y fechas adecuadas y el diseño de un plan de acción.
        </li>
        <li>
          Gestión de personas y recursos: entender las habilidades de liderazgo y gestión necesarias para administrar con grupos de diferentes tamaños, su organización y gestión, junto con la gestión de los recursos financieros y materiales.
        </li>
        <li>
          Seguridad y prevención de riesgos: aprender sobre la gestión de riesgos en los programas de actividades recreativas y cómo garantizar la seguridad de los participantes y organizadores.
        </li>
        <li>
          Monitoreo y evaluación de los programas: los herramientas necesarias para la medición, seguimiento, evaluación y mejora de los programas.
        </li>
      </ul>
    </div>
  </div>
</Section>


<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
Diseño y evaluación de programas recreativos
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Planificación del programa: aprender a planear programas recreativos eficaces, incluyendo sus objetivos y metas.
        </li>
        <li>
          Diseño del programa: cómo diseñar programas de actividades que cumplan con los objetivos y metas establecidos, y la selección y adquisición de los recursos necesarios.
        </li>
        <li>
          Metodologías de enseñanza y técnicas de liderazgo: cómo impartir los conocimientos, habilidades y valores que los participantes deben aprender a través de herramientas educativas y lúdicas.
        </li>
        <li>
          Evaluación del impacto: cómo evaluar el impacto del programa sobre los participantes, incluyendo el uso de técnicas de evaluación y herramientas de medición eficaces.
        </li>
        <li>
          Comunicación y marketing del programa: cómo promocionar el programa y crear una imagen de marca con una buena comunicación y marketing.
        </li>
        <li>
          Evaluación financiera: aprender a obtener los recursos financieros necesarios y cómo hacer un análisis financiero riguroso del programa.
        </li>
        <li>
          Diseño y evaluación de actividades y actividades para personas con discapacidad y necesidades especiales.
        </li>
      </ul>
    </div>
  </div>
</Section>


<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
Organización y administración de oficinas
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Gestión de archivos y documentos: cómo organizar y almacenar los documentos y archivos de la empresa de una manera eficiente y segura, incluyendo el uso de tecnología de gestión de documentos.
        </li>
        <li>
          Conocimientos de la tecnología de la información, las redes y las herramientas de software de productividad.
        </li>
        <li>
          Planificación de reuniones y eventos: cómo planificar y organizar reuniones y eventos, incluyendo la gestión de la logística, la reserva de espacios, la organización de horarios y la coordinación de personas y recursos.
        </li>
        <li>
          Atención al cliente: cómo gestionar de manera efectiva la atención al cliente, mejorar la comunicación con ellos y aumentar su satisfacción.
        </li>
        <li>
          Gestión de la agenda: cómo gestionar agendas y plazos para reuniones, clientes o entregas de proyectos.
        </li>
        <li>
          Comunicaciones empresariales: cómo administrar la comunicación interna y externa de la empresa, incluyendo correos electrónicos, informes, publicaciones, redes sociales y otros medios de comunicación.
        </li>
        <li>
          Ética empresarial: cómo entender y aplicar los principios éticos en las relaciones empresariales, así como en su comportamiento y actitud.
        </li>
      </ul>
    </div>
  </div>
</Section>


<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
Legislación laboral
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Normas laborales y reglamentación: aprender sobre las leyes laborales y regulaciones que regulan el empleo y las relaciones entre empleadores y empleados.
        </li>
        <li>
          Condiciones de trabajo: aprendiendo sobre los derechos de los empleados, salarios, horas de trabajo, cargas sociales, vacaciones, permisos y demás componentes del contrato laboral.
        </li>
        <li>
          Conflicto laboral y negociación colectiva: cómo manejar los conflictos laborales y cómo las partes pueden alcanzar un acuerdo mediante la negociación colectiva.
        </li>
        <li>
          Seguridad y salud en el trabajo: aprender sobre las normas y regulaciones en materia de seguridad y salud ocupacional y cómo implementarlas en el lugar de trabajo.
        </li>
        <li>
          Discriminación y acoso laboral: cómo reconocer y prevenir la discriminación y el acoso laboral, y cómo denunciar estos comportamientos.
        </li>
        <li>
          Empleo a personas con discapacidad y necesidades especiales: las leyes y regulaciones en la contratación y la adaptación de espacios y equipamientos de trabajo para empleados con discapacidades.
        </li>
        <li>
          Relaciones internacionales en materia laboral: cómo las leyes laborales varían según la industria y el país; conocer los foros y programas internacionales que buscan reglamentar y mejorar las condiciones laborales.
        </li>
      </ul>
    </div>
  </div>
</Section>


<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
Elementos de la organización cultural
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Identidad y patrimonio cultural: aprendiendo sobre la importancia de la preservación de la identidad y los valores culturales de una comunidad.
        </li>
        <li>
          Espacios y equipamiento cultural: cómo diseñar o adaptar espacios culturales y equipamiento, y la importancia de la creatividad y la estética.
        </li>
        <li>
          Gestión de museos: cómo administrar y gestionar los museos y exposiciones, incluyendo la gestión de colecciones y el mantenimiento de los espacios y equipos.
        </li>
        <li>
          Organización de eventos culturales: cómo planificar y administrar eventos culturales, incluyendo la selección de espacios, el presupuesto, la promoción y la ejecución.
        </li>
        <li>
          Financiamiento: cómo obtener fondos y asegurar la financiación a través de subvenciones, donaciones y pagos por entrada, para eventos culturales, museos y otros espacios culturales.
        </li>
        <li>
          Sostenibilidad organizacional: cómo asegurarse de que la organización culturales sea sostenible a largo plazo, considerando aspectos como la financiación, el personal, el mantenimiento, la promoción y la adaptación a los cambios culturales y tecnológicos.
        </li>
        <li>
          Diversidad y accesibilidad: conocer la diversidad cultural y el acceso a espacios y exposiciones culturales para personas con discapacidades y otras necesidades especiales.
        </li>
      </ul>
    </div>
  </div>
</Section>


<Section hasBottomMargin>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        Requisitos para aplicar
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Programa orientado solo a jóvenes, en edad comprendida entre 14 y 17 años.
        </li>
        <li>
          Tener aprobado la educación primaria (6to grado).
        </li>
        <li>
          Una (1) copia de la cédula de identidad del aspirante y del representante legal.
        </li>
        <li>
          Llenar planilla de registro.	

        </li>
      </ul>

      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        Beneficios
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Acceso al primer empleo y sin necesidad de experiencia.
        </li>
        <li>
          Cancelación del 75% del salario mínimo durante la fase teórica y del 100% durante la fase práctica, además, de los beneficios de la convención colectiva de la empresa o de la Ley Orgánica del Trabajo, los Trabajadores y las Trabajadoras LOTTT.
        </li>
        <li>
          Certificación en oficios calificados avalada por el INCES.
        </li>
      </ul>
      <p>
        <span class="font-bold">Nota:</span>El Inces dicta cursos gratuitos a todas las personas de cualquier edad.
      </p>
    </div>
  </div>
</Section>