---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Intro from '@/components/comparativa/Intro.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<Intro />
	</main>
</Layout>