---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<article>
			<h3>Historia</h3>
			<p>El INCE fue fundado por Ley el 22 de agosto de 1959, por por iniciativa del maestro Luis Beltrán Prieto Figueroa en el año 2003 se reforma el reglamento de la Ley del INCE, con la finalidad de reorganizarlo y adecuarlo a los intereses del país y al proceso de reconversión industrial, proceso que enmarca posteriormente su concepción y visión dentro del ámbito.</p>
		</article>

		<article>
			<h3>Misión</h3>
			<p>El Inces es la institución del Estado encargada de la formación integral, continua y permanente de los trabajadores y las trabajadoras, orientada al desarrollo de sus capacidades para la producción de bienes y prestación de servicios que satisfagan las necesidades del Poder Popular, su incorporación consciente al proceso social de trabajo y la construcción de relaciones laborales justas e igualitarias.</p>
		</article>

		<article>
			<h3>Visión</h3>
			<p>Convertirnos en una poderosa herramienta para la transformación economía soberana y diversificada, siendo referente nacional e internacional de la formación técnica profesional inclusiva y colectiva, con altos niveles de calidad, que forma trabajadores y trabajadoras conscientes de su rol como sujeto social protagónico, con dominio de los procesos productivos y capacidad para generar tecnología e innovación creadora.</p>
		</article>
	</main>
</Layout>