---
import Layout from '../layouts/Layout.astro'
import Intro from '@/components/home/Intro.astro'
import WhatIs from '@/components/home/WhatIs.astro'
import Offers from '@/components/home/Offers.astro'
---

<Layout title='Welcome to Astro.'>

  <main>
    
    <Intro />
    <WhatIs />
    <Offers />
  </main>

</Layout>
