---
import Section from '@/components/SectionItem.astro'
---

<section
  class='flex items-center justify-center h-[50vh] bg-cover bg-center'
  style="background-image: url('/mantenimiento-1.jpg');"
  id='intro-title'
>
  <div class='bg-black bg-opacity-50 w-full h-[50vh] absolute'></div>
  <div id='intro-title' class='relative z-10'>
    <h1
      class='text-7xl font-bold text-center text-red-100 text-pretty px-16 pt-16 hidden'
    >
      Mantenimiento preventivo
    </h1>
  </div>
</section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        ¿Qué es el mantenimiento preventivo?
      </h3>

      <p>
        El mantenimiento preventivo de una PC se refiere a una serie de
        actividades planificadas y periódicas realizadas para evitar fallos y
        maximizar el rendimiento de la computadora. Esto puede incluir la
        limpieza física del hardware, la actualización de software y
        controladores, la eliminación de archivos temporales y la optimización
        del sistema.
      </p>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        Importancia del mantenimiento preventivo
      </h3>

      <p>
        El mantenimiento preventivo de una PC es crucial para garantizar su
        rendimiento óptimo y prevenir problemas futuros. Esta página
        proporcionará información útil sobre cómo realizar el mantenimiento
        preventivo de forma efectiva.
      </p>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        Consejos para el mantenimiento preventivo
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Limpieza física: Apaga la PC y desconéctala de la corriente. Usa aire
          comprimido para quitar el polvo de los ventiladores, disipadores de
          calor, ranuras de expansión y otras áreas internas. Limpia
          cuidadosamente el polvo de la carcasa exterior y del teclado.
        </li>
        <li>
          Actualización de software y controladores: Esta actividad implica
          mantener actualizados los programas informáticos y los controladores
          de dispositivos para aprovechar las mejoras de rendimiento, seguridad
          y estabilidad que ofrecen las actualizaciones.
        </li>
        <li>
          Respaldo periódico de datos importantes: Consiste en realizar copias
          de seguridad de los datos críticos de manera regular para protegerlos
          contra la pérdida debido a fallas de hardware, ataques cibernéticos,
          errores humanos u otras eventualidades. El respaldo periódico asegura
          que los datos puedan ser recuperados en caso de necesidad.
        </li>
        <li>
          Monitoreo de la temperatura y ventilación: Esta tarea consiste en
          supervisar y controlar la temperatura y la ventilación de los equipos
          para prevenir el sobrecalentamiento.
        </li>
        <li>
          Revisión y mantenimiento de hardware: Implica la inspección regular de
          los componentes físicos de los equipos para identificar y reparar
          posibles problemas, como conexiones sueltas, componentes desgastados o
          dañados, y otros inconvenientes que puedan afectar el rendimiento.
        </li>
      </ul>
    </div>
  </div>
</Section>

<Section hasBottomMargin>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        Herramientas necesarias
      </h3>

      <ul class='list-disc mt-4'>
        <li>
          Destilladores: Se necesitan destornilladores de diferentes tños y
          tipos para abrir y cerrar la carcasa de la computadora y otros
          dispositivos, así como para el montaje desmontaje de componentes
          internos.
        </li>
        <li>
          Actualización de software y controladores: Esta actividad implica
          mantener actualizados los programas informáticos y los controladores
          de dispositivos para aprovechar las mejoras de rendimiento, seguridad
          y estabilidad que ofrecen las actualizaciones.
        </li>
        <li>
          Lata de aire comprimido o compresor de aire: Se utiliza para limpiar
          el polvo y la suciedad de los componentes internos de la PC, como
          ventiladores, disipadores de calor y placas de circuito.
        </li>
        <li>
          Kit de limpieza antiestática: Incluye herramientas especiales, como
          paños antiestáticos y productos de limpieza diseñados para limpiar de
          manera segura componentes electrónicos sin causar daños por
          electricidad estática.
        </li>
        <li>
          Kit de herramientas de precisión: Este incluye herramientas como
          pinzas, espátulas y otras herramientas pequeñas que son útiles para el
          manejo de componentes electrónicos delicados.
        </li>
      </ul>

    </div>
  </div>
</Section>
