---
import Section from '@/components/SectionItem.astro'
---

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        ¿Qué ofrece el INCES?
      </h3>

      <p>
        El INCES ofrece una amplia gama de cursos de formación en diversas
        áreas, como:
      </p>
      <p>
        Administración, Agropecuaria, Artes y oficios, Comercio y servicios,
        Industrial, Informática, Salud y Turismo.
      </p>
      <p>Además de los cursos regulares, el INCES también ofrece:</p>
      <p>
        Programas de formación a la medida para empresas e instituciones,
        Asesoría técnica y pedagógica, y Certificación de competencias
        laborales.
      </p>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        ¿Quiénes pueden acceder a los servicios del INCES?
      </h3>

      <p>
        Los servicios del INCES están disponibles para:
      </p>
      <ul>
        <li>Trabajadores y trabajadoras del sector público y privado.</li>
        <li>Estudiantes.</li>
        <li>Jóvenes en edad de trabajar.</li>
        <li>Personas con discapacidad.</li>
        <li>Personas en situación de riesgo social.</li>
      </ul>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        ¿Cómo acceder a los servicios del INCES?
      </h3>

      <p>
        Para acceder a los servicios del INCES, puedes:
      </p>
      <ul>
        <li>Acudir a cualquiera de los centros de formación del INCES a nivel nacional.</li>
        <li>Consultar la página web del INCES: <a href="https://inces.gob.ve/">inces.gob.ve</a></li>
        <li>Llamar al número de teléfono gratuito: 0800-INCES-00 (0800-46237-00)</li>
        <li>Escribir al correo electrónico: <direccion de correo electronico eliminada></li>
      </ul>
    </div>
  </div>
</Section>

<Section hasBottomMargin={true}>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        ¿Por qué es importante el INCES?
      </h3>

      <p>
        El INCES es una institución importante para el desarrollo de Venezuela porque:
      </p>
      <ul>
        <li>Contribuye a la formación y capacitación de la fuerza laboral del país.</li>
        <li>Impacta en la productividad, la competitividad y el bienestar social.</li>
        <li>Promueve la inclusión social y la igualdad de oportunidades.</li>
      </ul>
    </div>
  </div>
</Section>
