---
import Section from '@/components/SectionItem.astro'
---

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        ¿Qué ofrece el INCES?
      </h3>

      <div class="text-left space-y-2">
        <p>
          El INCES ofrece una amplia gama de cursos de formación en diversas
          áreas, como:Administración, Agropecuaria, Artes y oficios, Comercio y
          servicios, Industrial, Informática, Salud y Turismo.
        </p>

        <p>Además de los cursos regulares, el INCES también ofrece: <span class="font-semibold">
          Programas de formación a la medida para empresas e instituciones,
          Asesoría técnica y pedagógica, y Certificación de competencias
          laborales.
        </span></p>
        <p>
          
        </p>
      </div>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>Misión</h3>

      <p>
        El Inces es la institución del Estado encargada de la formación y
        autoformación colectiva, integral, continua y permanente de los
        trabajadores y las trabajadoras, orientada al desarrollo de sus
        capacidades para la producción de bienes y prestación de servicios que
        satisfagan las necesidades del Poder Popular, su incorporación
        consciente al proceso social de trabajo y la construcción de relaciones
        laborales justas e igualitarias.
      </p>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>Visión</h3>

      <p>
        Convertirnos en una poderosa herramienta para la transformación y
        consolidación de una economía soberana y diversificada, siendo referente
        nacional e internacional de la formación técnica profesional inclusiva y
        colectiva, con altos niveles de calidad, que forma trabajadores y
        trabajadoras conscientes de su rol como sujeto social protagónico, con
        dominio de los procesos productivos y capacidad para generar tecnología
        e innovación creadora.
      </p>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        ¿Quiénes pueden acceder a los servicios del INCES?
      </h3>

      <p>Los servicios del INCES están disponibles para:</p>
      <ul>
        <li>Trabajadores y trabajadoras del sector público y privado.</li>
        <li>Estudiantes.</li>
        <li>Jóvenes en edad de trabajar.</li>
        <li>Personas con discapacidad.</li>
        <li>Personas en situación de riesgo social.</li>
      </ul>
    </div>
  </div>
</Section>

<Section>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        ¿Cómo acceder a los servicios del INCES?
      </h3>

      <p>Para acceder a los servicios del INCES, puedes:</p>
      <ul>
        <li>
          Acudir a cualquiera de los centros de formación del INCES a nivel
          nacional.
        </li>
        <li>
          Consultar la página web del INCES: <a href='https://inces.gob.ve/'
            >inces.gob.ve</a
          >
        </li>
        <li>
          Llamar al número de teléfono gratuito: 0800-INCES-00 (0800-46237-00)
        </li>
        <li>
          Escribir al correo electrónico: <direccion
            de
            correo
            electronico
            eliminada></direccion>
        </li>
      </ul>
    </div>
  </div>
</Section>

<Section hasBottomMargin>
  <div slot='content'>
    <div class='flex flex-col justify-center items-center'>
      <h3 class='text-red-600 uppercase text-3xl font-bold pb-4'>
        ¿Por qué es importante el INCES?
      </h3>

      <p>
        El INCES es una institución importante para el desarrollo de Venezuela
        porque:
      </p>
      <ul>
        <li>
          Contribuye a la formación y capacitación de la fuerza laboral del
          país.
        </li>
        <li>
          Impacta en la productividad, la competitividad y el bienestar social.
        </li>
        <li>Promueve la inclusión social y la igualdad de oportunidades.</li>
      </ul>
    </div>
  </div>
</Section>
