---
import Section from '@/components/SectionItem.astro'
---

<Section>
  <div slot='content'>
    <div class="flex flex-col justify-center items-center">
      <h3 class="text-red-600 uppercase text-3xl font-bold pb-4">¿Qué es el INCES?</h3>

      <p>
        El INCES, o Instituto Nacional de Capacitación y Educación Socialista,
        es una institución del Estado venezolano que se encarga de la formación
        integral de los trabajadores y las trabajadoras del país. Su objetivo es
        brindarles las herramientas y conocimientos necesarios para que puedan
        incorporarse al proceso social de trabajo de manera consciente y
        productiva.
      </p>
    </div>
  </div>
</Section>
