---

---
<header class='fixed z-[40] grid h-auto w-full bg-white shadow'>
  <div class='px-6 py-3 md:px-12 lg:px-20'>
    <nav class='flex max-w-screen-xl flex-wrap items-center justify-between'>
      <a href='/' class='flex items-center space-x-3'>
        <img
          src='/logo.png'
          alt='Logo Boom Solutions'
          class='h-16 w-auto'
        />
      </a>

      <div class='flex items-center gap-2 md:hidden'>
        <button
          data-collapse-toggle='navbar-default'
          type='button'
          class='inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden'
          aria-controls='navbar-default'
          aria-expanded='false'
        >
          <span class='sr-only'>Open main menu</span>
          <svg
            class='h-5 w-5'
            aria-hidden='true'
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 17 14'
          >
            <path
              stroke='currentColor'
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M1 1h15M1 7h15M1 13h15'></path>
          </svg>
        </button>
      </div>

      <div
        class='hidden w-full items-center gap-2 md:flex md:w-auto'
        id='navbar-default'
      >
        <ul
          class='mt-4 flex flex-col rounded-lg border border-gray-100
        bg-gray-50 p-4 font-semibold uppercase
          md:mt-0 md:flex-row md:space-x-8
         md:border-0 md:bg-white md:p-0'
        >
          <li>
            <a
              href='/'
              class='block rounded px-3 py-2 text-blue-boom hover:text-orange-boom md:bg-transparent md:p-0'
              >Inicio</a
            >
          </li>

          <li>
            <a
              href='/historia'
              class='block rounded px-3 py-2 text-blue-boom hover:text-orange-boom md:bg-transparent md:p-0'
              >Historia</a
            >
          </li>

          <li>
            <a
              href='/servicios'
              class='block rounded px-3 py-2 text-blue-boom hover:text-orange-boom md:bg-transparent md:p-0'
              >Servicios</a
            >
          </li>

          <li>
            <a
              href='/comparativa'
              class='block rounded px-3 py-2 text-blue-boom hover:text-orange-boom md:bg-transparent md:p-0'
              >Comparativa</a
            >
          </li>

          <li>
            <a
              href='/mantenimiento'
              class='block rounded px-3 py-2 text-blue-boom hover:text-orange-boom md:bg-transparent md:p-0'
              >Mantenimiento</a
            >
          </li>

          <li>
            <a
              href='/galeria'
              class='block rounded px-3 py-2 text-blue-boom hover:text-orange-boom md:bg-transparent md:p-0'
              >Galería</a
            >
          </li>
        </ul>

      </div>
    </nav>
  </div>
</header>

<style>
  a:hover {
    color: red;
  }
</style>