---
interface Props {
  title: string
}

const { title } = Astro.props

import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
---

<script>
	const header = document.getElementById('header-nav')
    const headerHeight = document.querySelector('header').offsetHeight
    const mainContent = document.querySelector('.main-content')
    mainContent.style.paddingTop = headerHeight + 'px'

    const introTitle = document.querySelector('#intro-title');
    introTitle.style.marginTop = '-' + headerHeight + 'px';
</script>


<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Proyecto INCES' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <Header />
    <div class='main-content overflow-hidden'>
      <slot />
    </div>
  </body>
  <Footer />
</html>

<style is:global>
h3 {
  text-align: center;
}
</style>


